/*header*/
#header {
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 4em;
}

#FIRST {
    float: left;
}

#team4618 {
    float: right;
}