{%extends "default.html"%}
{%block head%}
{{super()}}
<!--Css for blocks-->
<link rel="stylesheet" href="{{url_for('static', filename='blocks.css')}}">

<script>
    //used for tallys when scouting
    function tallydown(id) {
        var tally = parseInt(document.getElementById(id).value);
        tally--;

        document.getElementById(id).value = tally;
    }

    function tallyup(id) {
        var tally = parseInt(document.getElementById(id).value);
        tally++;

        document.getElementById(id).value = tally;
    }
</script>
{%endblock%}

{%block title%}Scouting{%endblock%}
{%block content%}
<div id="blocks">
    {# Template should be an array of template objects #}
    {%for i in template%}
    <div class="block {{i.type}}">{{i.content|safe}}</div>
    {%endfor%}
</div>
{%endblock%}