{%extends "default.html"%}

{%block title%}Profile{%endblock%}

{%block head%}
{{super()}}
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<meta name="google-signin-client_id" content="{{googleID}}">

{%endblock%}

{%block content%}
<div id="details">
    <h3>Team: <b>{{user.team.number}}</b></h3>
    <!--Probably shouldn't be public facing but ¯\_(ツ)_/¯-->
    <h3>User id: <b>{{user.id}}</b></h3>
    <h3>Account level: <b>{{user.accountLevel}}</b></h3>
</div>

<button onclick="signOut();">Sign out</button>
{%endblock%}